@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #020420;
  --color-accent: #00dc42;
  --color-elevated: #1d293d;
  --color-light-elevated: #f2f2f2;
  --color-muted: #90a1b8;

  --font-sans: 'Lato', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply dark:bg-primary dark:text-muted bg-white;
  }

  h1 {
    @apply mb-4 text-3xl font-bold dark:text-white;
  }

  h2 {
    @apply mb-3 text-2xl font-semibold dark:text-white;
  }

  h3 {
    @apply mb-2 text-xl font-medium dark:text-white;
  }

  .link {
    @apply hover:text-accent dark:hover:text-accent/50 group-hover:text-accent dark:group-hover:text-accent/50;
  }
}
